/*Custom Fonts Declared Here===============================*/
@font-face {
  font-family: lobster;
  src: url('../fonts/lobster.otf');
}

@font-face {
  font-family: arc;
  src: url('../fonts/arc.ttf');
}

@font-face {
  font-family: titillium;
  src: url('../fonts/titillium.otf');
}

@font-face {
  font-family: sintony;
  src: url('../fonts/sintony.otf');
}

.logo{
  width:160px;
  position: fixed;
  top: 3px;
  left: 35px;
}

#footerLogo{
  max-width:260px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  margin-top:0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.6s;
  animation-name: fadeIn;
  animation-duration: 0.6s
}
.modalClose{
  display:inline-block;
  float: right;
  margin-top:-25px;
}
.modalClose::after{
  clear:both;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin:75px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  max-height: 80%;
  overflow: auto;
}

/* hide disclaimer by default=============================*/
.disclaimer{
  display: none;
}

/*Title Fonts=============================================*/
title {
  font-family: Helvetica, sans-serif;
}

/*Header=================================================*/
h2 {
  font-family: sintony, Helvetica, sans-serif;
  font-size: 35px;
  color: black;
  margin: auto;
  text-align:center;
}

h3 {
  font-family: sintony, Helvetica, sans-serif;
  font-size: 20px;
  margin: auto;
  text-align:center;
}

h4 {
  font-family: sintony, Helvetica, sans-serif;
  font-size: 15px;
  margin: auto;
  text-align:center;
}

main{
  background-color: #C8C8C8;
  color: black;
  height:auto;
}

.pageTitle{
  padding-top: 50px;
  padding-bottom: 50px;
}

.pageTitle h2{
  text-align:left;
  margin-left:250px;
}
/*Typical Paragraph Body==================================*/
body{
  /* width:100vw; */
  background-color:#C8C8C8;
}

p {
  font-family: titillium, Helvetica, sans-serif;
  font-size: 20px;
  color: inherit;
}

/*styles for report-activities*/
.act{
  display:none;
}

#otherType{
  visibility: hidden;
}

#reportingactResults{
  display: none;
}

/*Nav=====================================================*/
.nav {
  color: white;
  background-color: dodgerblue;
  color: white;
  background: rgba(0, 135, 208, 0.9);
  padding-left: 200px;
  position:sticky;
  /* padding-left:max(20%, 200px); */
  /* width:80%; */
  /* position:fixed; */
  height:50px;
  top:0;
  z-index: 1;
}

#nav_burger{
  height:44px;
  float:right;
  padding:5px;
}

#nav_burger:hover{
  opacity: 0.5;
}

#nav_burger_hide{
  display:none;
  padding-top:55px;
  background: rgba(0, 135, 208, 0.9);
  height:auto;
}

.nav_mobile{
  color: white;
  background-color: dodgerblue;
  background: rgba(0, 135, 208, 0.9);
  height:55px;
  position:sticky;
  top:0;
  z-index: 1;
  display:none;
  text-align:center;
}

.nav a{
  text-decoration: none;
  font-family: titillium;
  color: white;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top:6px;
  display: inline-block;
}

.nav_mobile a{
  text-decoration: none;
  font-family: titillium;
  color: white;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top:6px;
}

.active{
  background-color: #0076d0;
  height:44px;
}

.nav a:hover{
  background-color: #0076d0;
  height:44px;
  text-shadow: 2px 2px #333333;
}

.nav_mobile a:hover{
  background-color: #0076d0;
  opacity: 0.8;
  text-shadow: 2px 2px #333333;
}

/*aside nav===============================================*/
aside{
  float: left;
  width:225px;
  position:fixed;
  top:50px;
  bottom: 0;
  z-index: 1;
}

#sideNav{
  overflow:auto;
  float: left;
  height:100%;
  width: 100%;
  margin:0px;
  padding:0px;
  padding-top:50px;
  background-color: #006399;
  transition: 0.5s;
}

#sideNavMobile{
  overflow:auto;
  float: left;
  height:100%;
  width: 100%;
  margin:0px;
  padding:0px;
  background-color: #006399;
  transition: 0.5s;
  display:none;
  margin-top:5px;
}

#sideNav a{
  padding: 0.5em;
  margin-bottom:5px;
  width:99%;
  float:left;
  transition: 0.3s;
  font-size: 22px;
  color:white;
  text-decoration:none;
}

#sideNavMobile a{
  padding: 0.5em;
  margin-bottom:5px;
  width:99%;
  float:left;
  transition: 0.3s;
  font-size: 22px;
  color:white;
  text-decoration:none;
}

#sideNav a:hover{
  background-color: dodgerblue;
}

#sideNavMobile a:hover{
  background-color: dodgerblue;
}

#sideNavMobile .closebtn {
  margin:auto;
  margin-right:10px;
  text-align:right;
  padding-left: 0px;
  padding-right:10px;
  width:100%;
  transition: 0.3s;
  font-size: 30px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position:fixed;
  left:0;
  border-radius: 0 20px 20px 0;
  background: rgba(0, 135, 208, 0.9);
  top: 58px;
}

.openbtn:hover {
  background-color: #444;
}

#hamburger {
  transition: margin-left .5s;
  padding: 16px;
  display:none;
}

/*Slider===========================================*/
#moduleStart{
  width: 70%;
  margin:auto;
  min-height:400px;
  padding-bottom: 50px;
}

#moduleStartBtn{
  transition-duration: 0.5s;
  width:200px;
  background-color: rgba(0, 135, 208, 0.9);
  padding-top: 5px;
  padding-bottom: 5px;
  color:white;
  border-style:solid;
  border-color:black;
  border-radius:15px;
  border-width:1px;
}

#moduleStartBtn:hover, .altHover:hover{
  cursor: pointer;
  background-color: rgba(0, 135, 208, 0.6);
}

.moduleStartLinks{
  text-decoration:none;
  width:100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display:block;
  float:left;
  background-color: rgba(0, 135, 208, 0.9);
  border-style:solid;
  border-color:black;
  border-radius:15px;
  border-width:1px;
  margin:2px;
  text-align:center;
  color:white;
}

.moduleStartLinks:hover{
  cursor: pointer;
  background-color: rgba(0, 135, 208, 0.6);
}

.moduleSlide {
  display: none;
  min-height: 500px;
  box-shadow: inset 0px 0px 10px 5px #888888;
  padding-bottom:2em;
}

.moduleSlide h3{
  padding: 10px;
  margin-top:60px;
}

.transcripts{
  padding-bottom:60px;
}

.moduleSlide button{
  padding: 10px;
  margin-bottom: 60px;
}

.moduleSlide:first-child {
  display: block;
  min-height: 500px;
}

.moduleSlide p{
  margin: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.moduleSlide h2{
  padding-top:20px;
}

.slideshowContainer {
  max-width: 85%;
  min-height: 500px;
  position: relative;
  margin-left: 250px;
  margin-right: 5%;
  background-color:lightgray;
  border-radius:10px;
}

.homeSlideshowContainer{
  width: 100%;
  min-height: 500px;
  position: relative;
  margin: auto;
  filter: brightness(90%)
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 325px;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 15px 15px 0;
  user-select: none;
  background-color: #C8C8C8;
  box-shadow: 11px 0px 20px 3px #888888;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 15px 0 0 15px;
  box-shadow: -11px 0px 20px 3px #888888;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color:white;
}

/* Number text (1/8 etc) */
.numberText {
  color: #000;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  left: 5%;
  background-color: #C8C8C8;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px -20px 15px 3px #888888;
}

.slideshowtext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  left: 50px;
  bottom: 225px;
  width: 100%;
  text-align: left;
}

.bodytext{
  text-align: center;
  margin: auto;
  padding: inherit;
}

/*CSS for disclaimer popup*/

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 350%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  overflow: auto;
  height: 250px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/*Card Flip For Modules*/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flipcardholder{
  margin: 15px;
  display:block;
  text-align: center;
  margin: auto;
  width:100%;
}

.container{
  width:100%;
  max-width: 1200px;
  text-align:center;
  margin: auto;
}

.flip-card {
  background-color: transparent;
  text-align: center;
  float:left;
  width: 45%;
  height: 75px;
  margin: 15px 2.5%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card:nth-child(4){
  margin-bottom: 4em;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do avertical flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotatex(180deg);
}

.flip-card:focus .flip-card-inner {
  transform: rotatex(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius:15px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-image: linear-gradient(lightgray, dodgerblue);
  color: black;
}

.flip-card-back a{
  text-decoration:none;
  display: block;
  color:white;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  text-decoration:none;
  color:white;
  transform: rotatex(180deg);
}

.flip-card-back a{
  text-decoration:none;
  display: block;
  color:white;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotActive, .dot:hover {
  background-color: #717171;
}

.asideActive{
  background-color: #006399;
}

.asideActive2{
  background-color: #0076d0;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.video{
  width: 55%;
  margin:auto;
  margin-top: 0px;
  text-align:center;
  display:block;
  padding:30% 0 0 0;
  position:relative;
}

audio{
  display:block;
  width: 55%;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 50px;
  height: 25px;
  padding:10px;
  box-shadow: inset 0px 0px 5px 5px rgba(0, 135, 208, 1);
  border-radius:10px;
}

.descImg{
  height:500px;
}

.homeTitle{
  position:absolute;
  top: 2%;
  left: 2%;
  color:white;
  font-size: 40px;
  margin-right: 6%;
  text-align:left;
  text-shadow: 2px 2px 5px #444;
}

.homeSlideshowContainer .moduleSlide{
  padding-bottom:0;
}

.moduleSlide .homeDescription{
  position:absolute;
  border-style:solid;
  border-color:black;
  border-radius:15px;
  border-width: 1px;
  background-color: rgba(0,0,0, 0.4);
  top: 20%;
  width:90%;
  color:white;
  font-size: 20px;
  margin: 0 4%;
  padding:1%;
  text-shadow: 3px 3px 10px #000;
}

.homeQuestion{
  position:absolute;
  top: 38%;
  left: 20%;
  color:white;
  font-size: 50px;
  margin-right: 6%;
  text-align:left;
  text-shadow: 2px 2px 5px #444;
}

.homeQuestionInfo{
  position:absolute;
  top: 55%;
  left: 20%;
  color:white;
  font-size: 30px;
  margin-right: 6%;
  text-shadow: 2px 2px 5px #444;
  text-align:left;
}

.goThereButton{
  position:absolute;
  top: 80%;
  left: 20%;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin: 0px;
  color:white;
  font-size: 14px;
  border-style:solid;
  border-color: black;
  border-width: 1px;
  cursor: pointer;
  text-decoration:none;
}

.goThereButton:hover{
  background: rgba(0, 0, 0, 0.9);
}

footer p {
  margin-left: 150px;
  margin-top:0px;
  color:white;
}

#dotHide{
  display:none;
}

/*footer==================================================*/
footer{
margin-top:0px;
position:sticky;
z-index: 2;
bottom: -150px;
left:0;
clear:both;
background-color: #0076d0;
height: 100px;
}

.footerShort{
margin-top:0px;
bottom: initial;
width:100%;
/* position:absolute; */
bottom: -150px;
left:0;
clear:both;
background-color: #0076d0;
}

#footerButtons{
  margin-right: 300px;
}

footer button{
  width: 200px;
  border: 1px solid #000;
  border-radius:10px;
  color: white;
  padding: 12px 25px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  float:right;
  margin:.25em 1em;
}

.spacer{
height:350px;
}

@media only screen and (max-width: 1280px) {
  .video{
    width: 75%;
  }
  
  .moduleSlide .homeDescription{
    font-size:15px;
    top:25%;
  }

  .spacer{
    display:none;
  }
}

@media only screen and (max-width: 906px) {
  .moduleSlide .homeDescription{
    position:absolute;
    border-style:solid;
    border-color:black;
    border-radius:15px;
    border-width: 1px;
    background-color: rgba(0,0,0, 0.4);
    top: 20%;
    width:80%;
    left: 5%;
    font-size: 1em;
  }

  .homeQuestion{
    font-size: 40px;
    text-align: center;
    width: 75%;
    top: 100px;
    left: 15%;
  }


  #sideNav a{
    font-size: 20px;
  }

  .flipcardholder{
    max-width: 604px;
  }

  .container{
    width:100%;
  }

  .homeQuestionInfo{
    font-size: 20px;
    text-align: center;
    width: 75%;
    top: 175px;
    left: 15%;
  }

  .homeSlideshowContainer{
    height: 350px;
  }

  .moduleSlide h2{
    font-size: 20px;
  }

  .moduleSlide p{
    font-size: 15px;
  }

  footer p {
    font-size:12px;
    margin-left: 200px;
  }

  aside{
    width:200px;
    top:50px;
  }

  .slideshowContainer {
    margin-left: 215px;
  }
  
  #footerLogo{
    width:25%;
  }
  
  #footerButtons{
    margin-right:28%;
  }
  
  footer button{
    width: 150px;
    font-size:15px;
    padding: 10px 10px;
  }
}

@media only screen and (max-width: 816px) {
  .homeDescription{
    width:75%;
    left: 10%;
  }
  
  .moduleSlide .homeDescription{
    font-size: .95em;
  }
  
  .pageTitle h2{
    margin-left: 20px;
  }
  
  .nav a{
    font-size:15px;
  }

  .nav {
    height:40px;
    padding-left: 145px;
    display:none;
  }

  .nav_mobile {
    display:block;
    min-height:50px;
    width:100%;
  }

  .nav_mobile a{
    text-decoration: none;
    font-family: titillium;
    color: white;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:6px;
    height:50px;
    display: inline-block;
  }

  #nav_burger_hide a{
    width:100%;
    padding-left:0px;
  }

  .active{
    display:none;
    height:34px;
  }

  .nav a:hover{
    height:34px;
  }

  .homeQuestion{
    font-size: 30px;
    text-align: center;
    width: 75%;
    top: 50px;
    left: 15%;
  }

  .flipcardholder{
    max-width: 302px;
  }

  .container{
    width:100%;
  }

  .homeQuestionInfo{
    font-size: 15px;
    text-align: center;
    width: 75%;
    top: 175px;
    left: 15%;
  }

  .numberText {
    font-size: 20px;
  }

  #sideNav{
    display: none;
  }

  #hamburger {
    display:block;
  }

  #sideNav a{
    font-size: 15px;
  }


  .slideshowContainer {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
  }
  
  .moduleSlide{
    width:100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 555px) {
  .nav a{
    font-size:12px;
    padding-right:3px;
    padding-left:3px;
  }

  .descImg{
    height:550px;
  }
  
  #footerLogo{
    display:none;
  }
  
  #footerButtons{
    margin-right:5%;
  }

  .nav {
    padding-left: 175px;
  }
}

@media only screen and (max-width: 470px) {
  .descImg{
    height:650px;
  }
  
  .flipcardholder{
  margin-top:125px;
  }
  
  footer button{
    width: 110px;
    font-size: 10px; 
  }
}

@media only screen and (max-width: 375px) {
  .homeDescription{
    margin-bottom:100px;
  }
  .moduleSlide .homeDescription{
    font-size: .85em;
  }
}